# external requirements
Sphinx
coverage
flake8
python-dotenv
pyaml
# awscli==1.27.37
dvc
dvc[gs]
# dvc-gs==2.21.0
pytest
wandb
click
hydra-core
numpy
omegaconf
pandas
Pillow
PyYAML
setuptools
torch
torchmetrics
torchvision
